<a href="https://colab.research.google.com/github/brunacataldo/engenharia-de-dados/blob/master/Copy_of_SQLloja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUÇÃO

Neste exercício, criamos um database dentro de uma instância SQL no console da Google simulando um sistema de compras de uma loja e trabalhamos em cima das relações entre tabelas.

# REFERÊNCIAS EXTERNAS

## Comandos SQL

[Saiba tudo sobre SQL - Alura](https://www.alura.com.br/artigos/o-que-e-sql?gclid=Cj0KCQiA7bucBhCeARIsAIOwr-9Mp3CqHgUlqk81Tk5V1ldMr3H9mSyWfmAcPNWyfJWECf4JdS4LLOYaApCWEALw_wcB)

## Anotações
[Meu caderno de apoio SQL - Notion](https://neon-shrew-4f1.notion.site/SQL-e64a9e066c224a7ab0f52b3662e78098)

# CRIANDO DATABASE

`CREATE DATABASE loja;`

### Entrando no DataBase

`USE loja;`

## VISUALIZANDO TABELAS

# CRIANDO TABELAS

### Criando tabela clientes

    CREATE TABLE clientes (
    id_cli INT AUTO_INCREMENT,
    rg_cli VARCHAR(20) NOT NULL, 
    nome_cli VARCHAR(100) NOT NULL, 
    tel_cli VARCHAR(50),
    rua VARCHAR(100), 
    num INT,
    bairro VARCHAR(100), 
    cep VARCHAR(20),
    CONSTRAINT pk_id_cli PRIMARY KEY(id_cli)
    );

### Criando tabela compras

    CREATE TABLE compras (
    id_compra INT AUTO_INCREMENT, 
    data_compra DATE NOT NULL, 
    valor_compra FLOAT NOT NULL, 
    id_cli INT,
    CONSTRAINT pk_id_compra PRIMARY KEY(id_compra),
    CONSTRAINT fk_compra_cliente FOREIGN KEY(id_cli) 
    REFERENCES clientes(id_cli) 
    );

### Criando tabela produtos
    CREATE TABLE produtos (
    id_prod INT AUTO_INCREMENT, 
    nome_prod VARCHAR(100) NOT NULL, 
    tipo_prod VARCHAR(100) NOT NULL, 
    preço_prod FLOAT NOT NULL, 
    estoque_prod INT,
    CONSTRAINT pk_id_prod PRIMARY KEY(id_prod) 
    );

### Criando tabela compras_contem_produtos

    CREATE TABLE compras_contem_produtos ( 
    id INT AUTO_INCREMENT,
    id_compra INT,
    id_prod INT, 
    quantidade INT NOT NULL,
    CONSTRAINT pk_id_compra_produtos PRIMARY KEY(id),
    CONSTRAINT fk_ccp_compra FOREIGN KEY(id_compra) 
    REFERENCES compras(id_compra),
    CONSTRAINT fk_ccp_produto FOREIGN KEY(id_prod) REFERENCES produtos(id_prod) 
    );

### Adicionando atributos após ter criado a tabela
    ALTER TABLE clientes 
    ADD cidade VARCHAR(100)

    ALTER TABLE clientes 
    ADD estado VARCHAR(100)

## INSERINDO VALORES NAS COLUNAS

### Inserindo valores na tabela clientes

    INSERT INTO clientes 
    VALUES
    (NULL, '14.594.456-6', 'Benedito Henry Teixeira', '(88) 99690-4161', 'Rua Eduardo Mota', 640, 'Centro', '62420-970', 'Chaval', 'CE'),
    (NULL, '11.946.174-2', 'Mariah Jaqueline Aparício', '(88) 3753-8770', 'Rua Santa Isabel', 539, 'São Miguel', '63010-555', 'Juazeiro do Norte', 'CE'),
    (NULL, '27.722.583-8', 'Alice Pietra Ramos', '(31) 99404-8773', 'Rua Doutor Álvaro Lobo Leite', 521, 'Centro', '36419-970', 'Lobo Leite', 'MG'),
    (NULL, '38.895.346-9', 'Mário Márcio Ruan Pinto', '(13) 98485-6954', 'Rua Rubião Júnior', 418, 'Centro', '11013-210', 'Santos', 'SP');

### Inserindo valores na tabela compras

    INSERT INTO compras 
    VALUES
    (NULL, '2022-10-05', 58.8, 4), 
    (NULL, '2022-10-05', 110, 1), 
    (NULL, '2022-10-07', 81.7, 3), 
    (NULL, '2022-10-07', 51, 6);

### Inserindo valores na tabela produtos

    INSERT INTO produtos 
    VALUES
    (NULL, 'Energético TNT 269ML', 'Bebidas', 5.5, 35),
    (NULL, 'Arroz Juliano Parboilizado', 'Arroz', 4.5, 150),
    (NULL, 'Arroz Juliano Branco', 'Arroz', 4.2, 122),
    (NULL, 'Coca Cola 1 litro', 'Bebidas', 8.5, 36),
    (NULL, 'Biscoito Recheado Bolão Morango', 'Doces', 2.7, 45),
    (NULL, 'Água Mineral sem Gás', 'Bebidas', 2, 266),
    (NULL, 'Chocolate Gutti Gutti 50g', 'Doces', 1.9, 61),
    (NULL, 'Suco de Laranja Laranjinha', 'Bebidas', 3, 16);

### Inserindo valores na tabela compras_contem_produtos

    INSERT INTO compras_contem_produtos 
    VALUES 
    (NULL, 1, 3, 10),
    (NULL, 1, 5, 4),
    (NULL, 1, 8, 2),
    (NULL, 2, 2, 20),
    (NULL, 2, 6, 10),
    (NULL, 3, 1, 4),
    (NULL, 3, 3, 10),
    (NULL, 3, 7, 3),
    (NULL, 3, 8, 4),
    (NULL, 4, 4, 6);

OBS: Durante a criação das tabelas, houve uma mudança involuntária dos IDs. Caso aconteça: 
### Modificando ID

    UPDATE compras_contem_produtos SET id = 2 WHERE id = 52;
    UPDATE compras_contem_produtos SET id = 3 WHERE id = 53;
    UPDATE compras_contem_produtos SET id = 4 WHERE id = 54;
    UPDATE compras_contem_produtos SET id = 5 WHERE id = 55;
    UPDATE compras_contem_produtos SET id = 6 WHERE id = 56;
    UPDATE compras_contem_produtos SET id = 7 WHERE id = 57;
    UPDATE compras_contem_produtos SET id = 8 WHERE id = 58;
    UPDATE compras_contem_produtos SET id = 9 WHERE id = 59;
    UPDATE compras_contem_produtos SET id = 10 WHERE id = 60;

## CONSULTAS

### 1) Mostrar todos os dados de Clientes		

    SELECT * FROM clientes;

### 2) Mostrar nome, rg e telefone dos Clientes				

    SELECT nome_cli, rg_cli, tel_cli FROM clientes;

### 3) Mostrar nome e preço de Todos os Produtos			

    SELECT nome_prod, preco_prod FROM produtos;

### 4) Mostrar Nome, preço e estoque das Bebidas				

    SELECT nome_prod, preco_prod, estoque_prod FROM produtos WHERE tipo_prod  = 'bebidas';

### 5) Mostrar todos os produtos com preço acima de 5 reais				

    SELECT produtos WHERE preco_prod > 5;

### 6) Mostrar a quantidade total de produtos em estoque		

    SELECT SUM(estoque_prod) FROM produtos;

### 7) Mostrar a soma de todas as compras		

    SELECT SUM(valor_compra) FROM compras;

### 8) Mostrar todos os produtos ordenados pelo nome (A-Z)				

    SELECT  * FROM produtos ORDER BY (nome_prod);

### 9) Mostrar o nome e o valor total da compra realizada pela cliente Mariah Jaqueline Aparício				

    SELECT SUM(compras_contem_produtos) WHERE id_compra = 1 `#ERRADO'

### 10) Mostrar todos os cliente que são do estado de SP ou do  CE					
    SELECT nome_cli FROM clientes WHERE estado = 'SP' OR estado = 'CE';

### 11) Mostrar todos os cliente que são do estado do CE e do bairro Centro

    SELECT nome_cli FROM clientes WHERE estado = 'CE' and bairro = 'Centro';

		
### 12) Mostrar a lista de produtos ordenado pelo preço do menor para o maior

    SELECT nome_prod, preco_prod FROM produtos ORDER BY preco_prod ASC;

### 13) Mostrar uma lista dos produtos que foram comprados pelo cliente Benedito Henry Teixeira, bem como seu nome e endereço completo

    SELECT p.nome_prod, cl.nome_cli, cl.rua, cl.num, cl.bairro, cl.cep, cl.cidade, cl.estado
    FROM produtos AS p
    INNER JOIN compras_contem_produtos AS ccp
    ON p.id_prod = ccp.id_prod
    INNER JOIN compras AS co
    ON ccp.id_compra = co.id_compra
    INNER JOIN clientes AS cl
    ON cl.id_cli = co.id_cli
    WHERE cl.nome_cli = 'Benedito Henry Teixeira';

### 14) Mostrar a quantidade de clientes que são do estado do CE

    SELECT COUNT(*) FROM clientes WHERE estado = 'CE';

### 15) Mostrar a soma dos estoques de todas as bebidas do estabelecimento

    SELECT SUM(estoque_prod) FROM produtos WHERE tipo_prod = 'bebidas';